<div class="row">
  <div class="col-sm-4">
    <h1>Most Used Tags</h1>

    <p *ngIf="!tags"><em>Loading...</em></p> 
  </div>
</div>
<div><!--*ngIf="lists">-->
  <div class="row">
    <div class="col-sm-12"  *ngFor="let tag of tags; index as i">
      <h3>{{tag.title}}</h3>
      <div class="progress" style="margin: 20px; height: 20px;">
        <div class="progress-bar" role="progressbar" [style.width.%]="tag.count" [attr.aria-valuenow]="tag.count" aria-valuemin="0" aria-valuemax="100">{{tag.count}}</div>
      </div>
    </div>
  </div>
</div>
